---
layout: base
title      : "Hanuman Offroad Challenge 2023"
banner     : "assets/img/Enduro-2023-Nov.jpg"
form_title : Online Registration Form
location   : "Location: Phnum Basseth, Kingdom of Cambodia"
dates      : "Enduro Race November 11-12, 2023"

#form_closed: Online Registration is Closed
#on_site_reg: Please register at the race site
---

{% include hero.html %}
{% include countdown.html %}
{% include title.html %}

{% if page.form_closed %}
  {% include countdown.html %}
  <!-- load the js only if using countdown.html -->
  <script type="text/javascript" src="{{ 'assets/js/countdown.js' | relative_url }}"></script>
{% else %}
  {% include form_bulma.html %}
  {% include fees.html %}
  {% include waiver.html %}
  {% include payment.html %}
{% endif %}


{% include footer.html %}
