<div class="native-js native-show">
<a href="https://jgthms.com/css-in-44-minutes-ebook" class="native-flex" target="_blank">
      <style>
        .native-js {
          background: linear-gradient(-30deg, #4f38a4, #a244bc 45%, #4f38a4 45%) #4f38a4;
        }

        .native-details {
          color: #FFFFFF !important;
        }

        .native-details:hover {
          color: #FFFFFF !important;
        }

        .native-cta {
          color: #FFFFFF;
          background-color: #3bb76d;
        }

        .native-cta:hover {
          color: #native_cta_color_hover;
          background-color: #3bb76d;
        }
      </style>
      <div class="native-main">
        <img class="native-img" src="https://bulma.io/images/fortyfour-native.png">
        <div class="native-details">
          <span class="native-company">CSS in 44 minutes</span>
          <span class="native-desc">Learn how to build your own webpage from scratch!</span>
        </div>
      </div>
      <span class="native-cta">Buy the book</span>
    </a></div>
