<!-- c-clock section -->
<div class="section">
  <div class="container has-background-info	has-text-centered">
  <br>
  <h2 id="cd-time" class="title has-text-white">Count down to the next race . . .</h2>
  <div id="countdown" class="columns has-text-centered">
    <div class="column is-2">
    </div>
    <div class="column is-2">
      <div class="notification is-warning">
        <p class="title is-size-3" id="dd"></p>
        <span class="helper">Days</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="notification is-primary">
        <p class="title is-size-3" id="hh"></p>
        <span class="helper">Hours</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="notification is-success">
        <p class="title is-size-3" id="mm"></p>
        <span class="helper">Minutes</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="notification is-danger">
        <p class="title is-size-3" id="ss"></p>
        <span class="helper">Seconds</span>
      </div>
    </div>
  </div>
  <br>
</div>

