<!--- countdown -->
<section class="section container hero is-info">
  <div class="title">
    <h2 id="countdown" class="title">Count down to the next race . . .</h2>
    <button class="button is-warning is-large is-rounded has-text-weight-bold is-responsive">
      <span id="cd-time">Countdown. . .</span>
    </button>
  </div>
</section>
<!--- countdown with Bulma classes but hidden --
<section class="hidden section container hero has-background-success-light">
  <h2 id="cd-time" class="title">Count down to the next race . . .</h2>
  <div id="countdown" class="level clock">
    <div class="level-item">
      <div>
        <p id="dd" class="title">Days</p>
        <p class="heading">Days</p>
      </div>
    </div>
    <div class="level-item">
      <div>
        <p id="hh" class="title">Hours</p>
        <p class="heading">Hours</p>
      </div>
    </div>
    <div class="level-item">
      <div>
        <p id="mm" class="title">Minutes</p>
        <p class="heading">Minutes</p>
      </div>
    </div>
    <div class="level-item">
      <div>
        <p id="ss" class="title">Seconds</p>
        <p class="heading">Seconds</p>
      </div>
    </div>
  </div>
</section>
-->

