<!-- Section: footer -->
<footer class="footer">
   {% if page.form_closed == nill %}
      <div class="content subtitle has-text-dark has-text-centered">{{ page.dates }}</div>
   {% endif %}
</footer>  

<!--Import jQuery before materialize.js-->
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"> </script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script type="text/javascript" src="{{ 'assets/js/float-panel.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jordan.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ 'assets/js/main.js' | relative_url }}"></script>
<!-- <script type="text/javascript" src="{{ 'assets/js/scroll_to_top.js' | relative_url }}"></script> -->