<script type="text/javascript">
   var submitted=false;

   function formReset() {

      document.querySelectorAll('#alert-field').forEach(function (el, index) {
         el.innHTML = "<span> <b><p>Please wait while we register you ...</p></b> <progress></progress> </span>";
         el.classList.remove('is-hidden');
      });
     setTimeout(() => {
       // $('#alert-field').removeClass().addClass('is-hidden');
       // document.getElementById("formID").reset();
       // $('#formID').removeClass().addClass('is-hidden');
       $('#tabs-forms').removeClass().addClass('is-hidden');
       $('#thank-you').removeClass('is-hidden');
       // console.log('This alert appeared after 3 second!'); 
     }, 1500);
}

</script>
<iframe name="hiddenConfirm" id="hiddenConfirm" style="display:none;" 
  onload="if(submitted){ }">
</iframe>

<section id="form" class="section container has-background-grey-light">
   <form id="formID" action="https://docs.google.com/forms/d/e/1FAIpQLSdjE2CZESC7JqVlE3qSD5lT9rkSszzwi_E2JlAu7YbJ5BNOjg/formResponse" method="post" target="hiddenConfirm" onsubmit="submitted=true; return formReset();">

      <p class="control is-expanded has-icons-left is-hidden">
         <input class="input is-info" type="text" 
            name="entry.817453645" 
            placeholder="Class A" value="Class A" />
         <span class="icon is-small is-left">
            <i class="fas fa-user-group"></i>
         </span>
      </p>

      <div class="field is-horizontal">
         <div class="field-body">
            <div class="field">
               <label class="label">Team Name</label>
               <p class="control is-expanded has-icons-left">
                  <input class="input is-info" type="text" 
                     name="entry.726004286" 
                     placeholder="Team Name" required />
                  <span class="icon is-small is-left">
                     <i class="fas fa-user-group"></i>
                  </span>
               </p>
            </div>
         </div>
      </div>

      <div class="field is-horizontal">
         <div class="field-body">
            <div class="field">
               <label class="label">Name of Racer 1</label>
               <p class="control is-expanded has-icons-left">
                  <input class="input is-info" type="text" name="entry.959984559" placeholder="Name of Racer 1" required />
                  <span class="icon is-small is-left">
                     <i class="fas fa-user"></i>
                  </span>
               </p>
            </div>
            <div class="field">
               <label class="label">Name of Racer 2</label>
               <p class="control is-expanded has-icons-left">
                  <input class="input is-success" type="text" name="entry.768618346"
                     placeholder="Name of Racer 2" required />
                  <span class="icon is-small is-left">
                     <i class="fas fa-user"></i>
                  </span>
               </p>
            </div>
         </div>
      </div>

      <div class="field is-horizontal">
         <div class="field-body">
            <div class="field">
               <label class="label">Phone Number</label>
               <p class="control is-expanded has-icons-left">
                  <input class="input is-info" type="text" name="entry.393130259" placeholder="Phone Number" required />
                  <span class="icon is-small is-left">
                     <i class="fas fa-phone"></i>
                  </span>
               </p>
            </div>
            <div class="field">
               <label class="label">Emergency Phone Number</label>
               <p class="control is-expanded has-icons-left">
                  <input class="input is-success" type="text" name="entry.569186652"
                     placeholder="Emergency Phone Number" required />
                  <span class="icon is-small is-left">
                     <i class="fas fa-phone"></i>
                  </span>
               </p>
            </div>
         </div>
      </div>

      <div class="field">
         <div class="control">
            <label class="checkbox">
               <input type="checkbox" required>
               I agree to the fees and waiver conditions below.
            </label>
         </div>
      </div>

      <div class="field is-grouped">
         <div class="control">
            <button class="button is-link">Submit</button>
         </div>
      </div>

      <div id="alert-error" class="alert is-hidden">
         <p>Uh oh! Something went wrong!</p>
      </div>
      <div id="alert-field" class="alert is-hidden">
         <span>
           <b><p>Please wait while we register you ...</p></b>
           <progress></progress>
         </span>
      </div>

   </form>
</section>
