<!-- head -->
<head>
   <meta charset="utf-8">
   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
   <link rel="stylesheet" href="{{ 'css/float-panel.css' | relative_url }}">
   <link rel="stylesheet" href="{{ 'css/jordan.css' | relative_url }}">
   <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
   <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <!-- <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicon.png"> -->
   <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/favicon-apple.png' | relative_url }}">
   <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon.png' | relative_url }}">

   <title>{{ site.title }}</title>
 </head>