<!--- tabs-forms -->

{% include thank-you.html %}

<section id="tabs-forms" class="section container hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
          Team Registration Forms
        </h1>
      </div>
  </div> 
  
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth is-medium">
      <div class="container">
        <ul>
          <li class="tab is-active" onclick="openTab(event,'Class A')"><a >Class A</a></li>
          <li class="tab" onclick="openTab(event,'Class B')">
            <a>Class B</a>
          </li>
          <li class="tab" onclick="openTab(event,'Class C')"><a >Class C</a></li>
          <li class="tab" onclick="openTab(event,'Masters')"><a >Masters</a></li>
          <li class="tab" onclick="openTab(event,'Ladies')"><a >Ladies</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container section has-text-left">
      <div id="Class A" class="content-tab has-text-centered" >
        <h2 class="subtitle is-4">
          You are registrating for Class A<br>
        </h2>
        {% include form-r2.html %}
      </div>

      <div id="Class B" class="content-tab has-text-centered" style="display:none">
        <h2 class="subtitle is-4">
          You are registrating for Class B<br>
        </h2>
        {% include form-r3B.html %}
      </div>

      <div id="Class C" class="content-tab has-text-centered" style="display:none">
        <h2 class="subtitle is-4">
          You are registrating for Class C<br>
        </h2>
        {% include form-r3C.html %}
      </div>

      <div id="Masters" class="content-tab has-text-centered" style="display:none">
        <h2 class="subtitle is-4">
          You are registrating for Masters Class<br>
        </h2>
        {% include form-r1M.html %}
      </div>

      <div id="Ladies" class="content-tab has-text-centered" style="display:none">
        <h2 class="subtitle is-4">
          You are registrating for Ladies Class<br>
        </h2>
        {% include form-r1L.html %}
      </div>

  </div>

</section>

    
<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("content-tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " is-active";
}
</script>
