<!-- Section: thank-you -->
<section id="thank-you" class="section hero is-primary container is-hidden">
   <h1 class="title">Thank you for your registration.</h1>
   <h2 class="subtitle is-4">Please come to the official booth to get your racing numbers.
      <br>
      See you at the race!! You may make your payment below. . .</h2>
   <br>
   <div class="columns is-mobile is-centered">
      <div class="column">
         <a href="#payment" class="button is-warning">Make Payment</a>
      </div>
      <div class="column is-narrow">
      </div>
      <div class="column">
         <a href="{{ site.baseurl | relative_url }}/" type="reset" class="button is-info">Resgister Another Racer</a>
      </div>
   </div>
</section>
