<!-- Racer 1 -->
<div id="hill1" class="box">
   <div>
      <label class="label">
         Hill climb?&nbsp;&nbsp;
         <input name="{{ site.data.race.r1-hill }}" type="radio" value="Yes" />
         <span>Yes&nbsp;</span>
         <input name="{{ site.data.race.r1-hill }}" type="radio" value="No" />
         <span>No</span>    
      </label>
   </div>
   <div>
      <label class="label">
         Enduro --?&nbsp;&nbsp;
         <input name="{{ site.data.race.r1-endu }}" type="radio" value="Yes" />
         <span>Yes&nbsp;</span>
         <input name="{{ site.data.race.r1-endu }}" type="radio" value="No" />
         <span>No</span>
      </label>
   </div>
</div>
