<!-- Racer 2 -->
<div id="hill2" class="box">
   <div>
      <label class="label">
      Hill climb?&nbsp;&nbsp;
         <input name="{{ site.data.race.r2-hill }}" type="radio" value="Yes" />
         <span>Yes&nbsp;</span>
         <input name="{{ site.data.race.r2-hill }}" type="radio" value="No" />
         <span>No</span>
      </label>
   </div>
   <div>
      <label class="label">
         Enduro --?&nbsp;&nbsp;
         <input name="{{ site.data.race.r2-endu }}" type="radio" value="Yes" />
         <span>Yes&nbsp;</span>
         <input name="{{ site.data.race.r2-endu }}" type="radio" value="No" />
         <span>No</span>
      </label>
   </div>
</div>
